@tailwind base;
@tailwind components;
@tailwind utilities;

  .face {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    transition: visibility 1s linear 1s;
  }

  .flip {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }

  .back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  .card{
    animation-duration: 1s;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(156, 80, 226);
    border-radius: 5%;
    // card duration-1000 flex select-none justify-center items-center p-6 w-[17%] h-[40%]
    
  }