@tailwind base;
@tailwind components;
@tailwind utilities;

.face {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    width: 100px;
    height: 100px;
    transition: visibility 1s linear 1s;
  }

  .flip {
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }

  .back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }